
/* nav bar style */
* {
    text-decoration: none;
    list-style: none;
}


li > a > img {
    background-color: #ffffff;
    width: 1.5rem;
}

li>a , h3>a {
    color: white;
}
.cart {
    margin-left: -2rem;
}


nav {
    
    background-color: #370E05;    
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    
    }

/* nav bar style */
* {
    text-decoration: none;
    list-style: none;
}


li > a > img {
    background-color: #ffffff;
    width: 1.5rem;
}

li>a , h3>a {
    color: white;
}
.cart {
    margin-left: -2rem;
}


/* grid for nav */
nav {
    
    background-color: #370E05;    
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    
    }

.logo {
    width: 35%;
    padding: 1rem;
    margin-left: 5rem;
}

a {
    text-decoration: none;
    color: white;
}

li > a > img {background-color: #ffffff;
    width: 1.5rem;
}

.cart {
    margin-left: -2rem;
}

.lDown {margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    }    


    /* style for header */
header {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

header>h4 {
    margin-top: 3rem;
    margin-bottom: 5rem;
    margin-left: 5rem;
    padding: 2rem;
width: 20%;
    
}

header>p {
    font-family: Arial, Helvetica, sans-serif;
}

p>a {
    color: red;
}

/* style for main */
main {
    /* margin-bottom: -1.4rem; */
    padding: 1rem;
    /* background-color: chocolate; */
    text-align: center;
}

/* style for section */
section {
    padding-top: 3rem;
    /* background-color: chocolate; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

section>div { text-align: center;
    /* border-radius: 24px;
    background: #ffffff;
    box-shadow:  2px 2px 18px #bdbdbd,
             -2px -2px 18px #ffffff; */
}

/* style for footer */
footer {
    margin-top: 1rem;
    background-color: #370E05;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    
    }

.fTop {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
        
    }

.fTop>ul>li {
    margin: 1rem;
    
}    

label>input {
    margin-bottom: 1rem;
    padding: 1rem;
}
ul>button {
    padding: 0.8rem;
    background: #370E05;
    border-color: white;
}

.fDown {
    margin-top: 1rem;
    margin-bottom: 10rem;
    padding: 2rem;
    margin-left: 10%;
    margin-right: 10rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
       
    }