/* nav bar style */
* {
    text-decoration: none;
    list-style: none;
}


li > a > img {
    background-color: #ffffff;
    width: 1.5rem;
}

li>a , h3>a {
    color: white;
}
.cart {
    margin-left: -2rem;
}


/* grid for nav */
nav {
    
    background-color: #370E05;    
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    
    }

.logo {
    width: 35%;
    padding: 1rem;
    margin-left: 5rem;
}

a {
    text-decoration: none;
    color: white;
}

li > a > img {background-color: #ffffff;
    width: 1.5rem;
}

.cart {
    margin-left: -2rem;
}

.lDown {margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    }    
   

  /* style for main   */
main {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
} 

img {
    width: 45rem;
}

.gList {
     margin-top: -2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
}

.gList>p>a {    
    padding: 1rem;
    border-color: #370E05;
    border-style: solid;
    border-width: 0rem 0rem 0rem 1rem;
    color: black;
}

.gList>p>a:hover {
    color: red;
}

.gList>p {
    margin: 2rem;

}


 /* style for footer */
footer {
    margin-top: 2rem;
    padding: 2rem;
    background-color: #370E05;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: px;
    grid-row-gap: px;
    }

.fTop {margin-left:2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
        
    }



.fDown {margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
       
    }   