
/* nav bar style */
* {
    text-decoration: none;
    list-style: none;
}


li > a > img {
    background-color: #ffffff;
    width: 1.5rem;
}

li>a , h3>a {
    color: white;
}
.cart {
    margin-left: -2rem;
}


/* grid for nav */
nav {
    
    background-color: #370E05;    
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    
    }

.logo {
    width: 35%;
    padding: 1rem;
    margin-left: 5rem;
}

a {
    text-decoration: none;
    color: white;
}

li > a > img {background-color: #ffffff;
    width: 1.5rem;
}

.cart {
    margin-left: -2rem;
}

.lDown {margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    }    
   


h2 {
    padding-left: 1rem;
}

/* style for main */
 main {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
 } 
 
 h4 {
    margin: 2rem 15rem 8rem 5rem;
    padding: 1rem;
}

.p {
    margin-left: -13rem;
    margin-right: 2rem;
    padding: 0rem 3rem 3rem;
}

/* style for footer */
footer {
    margin-top: 1rem;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    
    }

.fTop {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
        
    }

.fTop>ul>li {
    margin: 1rem;
    
}    



.fDown {
    margin-top: 1rem;
    margin-bottom: 10rem;
    padding: 2rem;
    margin-left: 10%;
    margin-right: 10rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
       
    }