
/* grid for nav */
nav {
    position: fixed;
    /* background-color: #370E05; */
}
.parent {
    
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    
    }

.right {
    margin-left: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: fr;
    
}

.right > h3 {
    margin-left: -8rem;
    padding-top: 8%;
}
.logo {margin-left: 10%;
    padding: 3%;
    width: 38%;
}

.left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    
    }

.lTop {
    margin-left: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    
    }

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

li > a > img {background-color: #ffffff;
    width: 1.5rem;
}

.cart {
    margin-left: -2rem;
}

.lDown {
    padding-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    }    

/* styles for the header */
header {
    background-image: url(/img/backg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    } 

.CofCup {
   
    height: 25rem;
    margin-left: 10rem;
    margin-bottom: -5rem;
    margin-top: 20rem;         
    }

.Hright{
    margin-top: 10rem;
    margin-bottom: 10rem;
    margin-left: 1rem;
    text-align: center;
}
    
.Hright>button {
    margin-top: 1rem;
    margin-left: -7rem;
	background-color: #ffffff;
	border-radius:19px;
	border:2px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	
	font-family:Times New Roman;
	font-size:18px;
	padding:15px 26px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
/* .myButton:hover {
	background: red;
	background-color:#5cbf2a;
} */
.myButton:active {
	position:relative;
	top:1px;
}
 button>a {
     color: #000000;
 }

 /* style for main    */
main {
    padding: 2rem;   
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}


/* style for footer */
footer {
    padding: 2rem;
    background-color: #370E05;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: px;
    grid-row-gap: px;
    }

.fTop {margin-left:2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
        
    }



.fDown {margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
       
    }

 