body {
    background-color: #e6e6e6;
}

/* nav bar style */

li > a > img {
    background-color: #ffffff;
    width: 1.5rem;
}

li {
    
    list-style: none;
}

li>a {
    text-decoration: none;
    color: white;
}

/* grid for nav */
nav {
    
    background-color: #370E05;    
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    
    }

.logo {
    width: 35%;
    padding: 1rem;
    margin-left: 5rem;
}



li > a > img {background-color: #ffffff;
    width: 1.5rem;
}

.cart {
    margin-left: -2rem;
}

.lDown {margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    }    
   
aside>p {
    margin-left: 5rem;
}
/* style for header */
header {border: 2px solid black;
    margin-left: 30%;
    width: 30rem;
    padding-bottom: 4rem;
    text-align: center;
}

#lForm {
    margin: 1rem;
    width: 18rem;
    height: 3rem;
    background-color: #E6E6E6;
    border-radius: 5px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}

button { 
    border-radius: 5px;  
    background-color: #370E05;
    width: 18rem;
    height: 3rem;
}

.bt {outline: 1px solid;
    margin-bottom: 5rem;

}
button>a {
    text-decoration: none;
    color: white;
}
p>a {
    color: #370E05;
}