/* nav bar style */
* {
    text-decoration: none;
    list-style: none;
}


li > a > img {
    background-color: #ffffff;
    width: 1.5rem;
}

li>a , h3>a {
    color: white;
}
.cart {
    margin-left: -2rem;
}


/* grid for nav */
nav {
    
    background-color: #370E05;    
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    
    }

.logo {
    width: 35%;
    padding: 1rem;
    margin-left: 2rem;
}

a {
    text-decoration: none;
    color: white;
}

li > a > img {background-color: #ffffff;
    width: 1.5rem;
}

.cart {
    margin-left: -2rem;
}

.lDown {margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    }    
  
section {
    text-align: center;
}    

/* style for main */
main { padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

main>img {
    width: 40rem;
    height: 30rem;
}


button {
    margin-top: 1rem;
    margin-left: rem;
	background-color: #370E05;
	border-radius:10px;
	border:2px solid #370E05;
	display:inline-block;
	cursor:pointer;
	
	font-family:Times New Roman;
	font-size:18px;
	padding:15px 26px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}


/* style for footer */
footer {
    margin-top: 1rem;
    background-color: #370E05;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    
    }

.fTop {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
        
    }

.fTop>ul>li {
    margin: 1rem;
    
}    

label>input {
    margin-bottom: 1rem;
    padding: 1rem;
}
ul>button {
    padding: 0.8rem;
    background: #370E05;
    border-color: white;
}

.fDown {
    margin-top: 1rem;
    margin-bottom: 10rem;
    padding: 2rem;
    margin-left: 10%;
    margin-right: 10rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
       
    }
